@import '~antd/dist/antd.css';
@import 'antd-override.css';
@import 'common/index.css';
@import 'model-registry/index.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


body#dark {
  background-color: #1e1e1e !important;
  padding: 25px 0 0 0;
}
body#dark #root *:not(button, i, svg, path, .dropdown-menu, button span, .dropdown-menu *) {
  background-color: transparent; 
  color: white !important;
  border-color: hsla(0,0%,100%,.12) !important;
}
body#dark .clear-button {
  color: black;
}
body#dark .mde-header ul.mde-header-group li.mde-header-item button {
  color: white;
}
body#dark .ExperimentView .ag-column-hover, .ExperimentView .ag-row-hover {
  background-color: #1a1a1a !important;
}
body#dark .active-experiment-list-item {
  background-color: rgba(67,199,234,.1) !important;
}